body {
  background-color: #fff;
  color: #333;
  font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 1em;
  margin: 0;
}

.img-demo {
  height: 200px;
}

.img-demo-big {
  width: 600px;
}

.grid {
  border: 1px solid;
}

.grid > * {
  background-color: #4d7298;
  border: 2px solid #77a6b6;
  border-radius: 0.5em;
  color: #fff;
  padding: 0.5em;
}

.exercise-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*  ---- start exercise 1 ----  */

.grid-1 {
}

/*  ---- end exercise 1 ----  */

/*  ---- start exercise 2 ----  */

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
  gap: 10px;
}

.item1 {
  background-color: rgba(74, 102, 112, 0.7);
  border: 5px solid rgba(74, 102, 112, 1);
}

.item2 {
  background-color: rgba(214, 162, 173, 0.7);
  border: 5px solid rgba(214, 162, 173, 1);
}

/*  ---- end exercise 2 ----  */

/*  ---- start exercise 3 ----  */

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

/*  ---- end exercise 3 ----  */

/*  ---- start exercise 4 ----  */

.card {
  display: grid;
  grid-template-rows: 200px min-content;
}

.card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tags {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tags > * {
  background-color: #999;
  color: #fff;
  padding: 0.2em 0.8em;
  border-radius: 0.2em;
  font-size: 80%;
  margin: 5px;
}

.layout-container {
}

.tags {
}

/*  ---- end exercise 4 ----  */

/*  ---- start exercise 5 ----  */

/*  ---- end exercise 5 ----  */
